[Unit]
Description=Verify sync status between GitHub and cgit

[Service]
Type=simple
ExecStart=/home/git/git.ruby-lang.org/bin/git-sync-check.rb
User=git

[Install]
WantedBy=multi-user.target
